@{
    ViewData["Title"] = "QUẢN LÝ NHÂN SỰ";
}

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-style"
                                                   placeholder="Email" />
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password"
                                                   class="form-style"
                                                   placeholder="Password" />
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <button id="loginButton" class="btn mt-4">Login</button>
                                        <p class="mb-0 mt-4 text-center">
                                            <a href="#" class="link">Forgot your password?</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function navigateToPage(pageUrl) {
            window.location.href = pageUrl;
        }
        document.getElementById("loginButton").addEventListener("click", function () {
            // Lưu các giá trị đăng nhập vào biến email và password
            var email = document.querySelector("input[type='email']").value;
            var password = document.querySelector("input[type='password']").value;

            // Kiểm tra email và password
            if (email === "admin" && password === "admin") {
                // Nếu đăng nhập thành công, chuyển hướng đến trang add_employee.cshtml
                navigateToPage("./Home/Page/add_employee.cshtml");
            } else {
                // Nếu đăng nhập không thành công, thông báo lỗi
                alert("Email hoặc mật khẩu không chính xác!");
            }
        });
    </script>
}